.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

button{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:hover{
    color: red;
}